# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# VS Code
.vscode/

# DevContainer
.devcontainer/

# MLflow
mlruns/
mlflow.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Python env
.env

# PyTorch
*.pt
*.pth



# Cache
.cache/

*.zip

data/

results/bitstreams/